body {
    background-color:#F6F3F5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    margin-left: 4%;
    background-image: url(quizpic.jpg);
    background-size: cover;
}
h1 {
    font-family: candara;
    font-weight:bolder;
    font-size: 38px;
    color: #38618C;
}
.question{
    font-weight: bold;
    padding: 10px 0px;
  }
  .answers {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .answers label{
    display: block;
  }
  #submit {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 20px;
	background-color:#74586A;
	color: #F6F3F5;
	border: 0px;
	border-radius: 20px;
	padding: 20px;
	cursor:pointer;
	margin-bottom: 20px;
  }
  #submit:hover{
	background-color: #38618C;
  }